// 提示文案
.alert-text
  background #F3F3F3
  padding 10px 20px
  border-left 5px solid #DDD
  margin 0
  line-height 24px
  font-size 12px

  p
    margin 0

.alert-text-success
  background #EEF7EB
  border-color #BBDBA1
