// 基础样式
.btn
  display inline-block
  color #FFF
  transition background .3s
  height 30px
  line-height 30px
  padding 0 15px
  font-size 12px

  .fa
    margin-right 5px

a.btn
  &:visited
    color #FFF

  &:hover
    text-decoration none

button.btn
  border none
  outline none
  appearance none

// 默认按钮样式
.btn-default
  background #C8C8C8

  &:hover
    background darken(@background, 10%)

  &.active
    background red

// 主操作按钮样式
.btn-primary
  background red

  &:hover
    color #FFF
    background darken(red, 10%)

// 成功按钮样式
.btn-success
  background green

  &:hover
    color #FFF
    background darken(green, 10%)

.btn-default
.btn-primary
.btn-success
  &.disabled
    background #CCC
    cursor not-allowed

// 链接按钮
.btn-link
  color red

button.btn-link
  background transparent
  border none
  appearance none

  &:hover
    color darken(red, 10%)

// 按钮尺寸
.btn-lg
  height 36px
  line-height 36px
  min-width 120px
  font-size 14px

.btn-sm
  height 20px
  line-height 20px
  padding 0 8px

// 块状按钮
.btn-block
  display block
  width 100%
  padding 0
