

.filter-bar
  clearfix()
  padding 5px 10px
  box-sizing border-box
  // margin-bottom 20px

  .filter-group
    clearfix()

    .filter-group-item
      float left
      margin-right 10px

    .v-select
    .search-box
    .btn
      display inline-block
      vertical-align middle

    &.fr
      .filter-group-item
        float right
        margin-right 0
        margin-left 10px
