

.filter-bar
  clearfix()
  padding 5px 10px
  box-sizing border-box
  // margin-bottom 20px

  .filter-group
    clearfix()

    .filter-group-item
      float left
      margin-right 15px

  .v-select
    display inline-block
    vertical-align middle
