.filter-bar
  clearfix()
  padding 7px 10px
  box-sizing border-box
  // margin-bottom 20px

  h3
    font-size 14px
    font-weight normal
    margin 0
    line-height 28px

  .filter-group
    clearfix()

    .filter-group-item
      float left
      margin-right 10px

    .x-select
    .search-box
    .btn
      display inline-block
      vertical-align middle

    &.fr
      .filter-group-item
        float right
        margin-right 0
        margin-left 10px

  &.filter-bar-head
    background #F6F6F6
    border-top 1px solid default-border-color
    border-bottom 1px solid default-border-color
    padding-left 15px
    padding-right 15px
