@import '../common'

// 输入框
.input-text-wrap
  position relative
  .input-text
    border 1px solid default-border-color
    display block
    width 100%
    box-sizing border-box
    font-size 14px
    height 32px
    line-height 30px
    padding 0 10px

    &.input-text-sm
      font-size 12px
      height 28px
      line-height 26px
      padding 0 8px

  textarea.input-text
    height 72px
    resize none

  .placeholder
    absolute left 10px top 0
    height 32px
    line-height 32px
    color #A9A9A9
    text-overflow(90%)

.form
  max-width 600px

  .inline-block
    display inline-block

  .select
    position relative

  .input-text-wrap
    .vf-dirty.vf-invalid
    .touched.invalid
      border-color red

  .vf-submitted
    .vf-pristine.vf-invalid
      border-color red

  // 单选/多选按钮
  label.radio
  label.checkbox
    display inline-block
    line-height 30px

  .radio input[type="radio"]
  .checkbox input[type="checkbox"]
    margin-right 4px

  // 单选/多选按钮组
  .radio-group
    clearfix()

    .radio
      float left
      white-space normal
      margin-right 20px

  .checkbox-group
    clearfix()

    .checkbox
      float left
      white-space normal
      margin-right 20px

  .radio-group-v
    p
      margin 0
      font-size 12px
      color #999
      padding-left 16px

    .radio
      float none
      width 100%

  .checkbox-group-v
    .checkbox
      float none
      width 100%

  .select-group
    clearfix()

    .select
      position relative
      width 160px
      margin 0 10px 10px 0
      padding-right 30px

      .fa
        absolute right top
        width 20px
        line-height 30px
        color red
        cursor pointer

  .form-row
    position relative
    margin-bottom 15px
    // overflow-x hidden
    // overflow-y auto
    clearfix()

    .form-control
      float left
      // width 110px
      line-height 32px

    .controls
      float left
      // max-width 506px
      // width 40%
      // min-width 250px

    .control-text
      display inline-block
      line-height 32px

    // 上传文件路径
    .file-url
      color gray
      line-height 24px

  .form-hints
    margin-top 20px
    margin-bottom 10px
    font-size 12px

  .form-tips
    font-size 12px
    word-wrap break-word
    line-height 24px

    i
      margin-right 5px
      font-size 16px

    span
      display block

  .form-tips-success
    color green

    i
      color #92C39E

  .form-tips-error
    color red

    i
      color #B76166

  .form-row-group
    margin-bottom 20px

    & + .form-hints
      margin-top 40px

  .form-actions
    .del-check
      float left
      margin 10px 30px 0 0

      input
        margin-right 5px

    .btn
      margin-right 10px
/*
.form-auth
  max-width 550px
  margin 0 auto
  padding 100px 0

  .form-logo
    background #383838 url('assets/images/form_logo.png') no-repeat center top
    height 53px
    padding-bottom 30px

  .form-cont
    padding 40px 72px 0
    min-height 100px
    box-shadow 0 5px 15px rgba(0, 0, 0, .3)
    background #FFF

  .form-header
    border-bottom 1px solid #E0E0E0
    font-size 0
    padding 0 30px
    margin-bottom 25px

    span
    a
      display inline-block
      font-size 16px
      width 150px
      padding 10px 0
      text-align center

    a
      & + span
        margin-left 46px

    span
      border-bottom 3px solid red
      padding-bottom 7px
      color red

      & + a
        margin-left 46px

    a:hover
      text-decoration none

    h2
      font-size 24px
      margin 0
      font-weight normal

    p
      font-size 12px
      color gray
      margin 0 0 10px

  .form-body
    padding 0 30px

  .form-actions
    text-align center

    .btn
      text-align center
      color #FFF
      height 46px
      line-height 46px
      font-size 14px
      margin 0 auto

  .form-footer
    font-size 12px
    text-align center
    padding 20px 0
*/
.auth-form
  margin-top 60px

  .inner
    clearfix()
    position relative
    background #FFF
    width 580px
    margin 0 auto
    overflow hidden
    border-radius 10px
    box-shadow 0 3px 6px rgba(0, 0, 0, .15)
    padding-bottom 40px

    .link-return
      absolute left 8px top 8px
      font-size 20px
      color gray-light

      &:hover
        color red

  .form-legend
    font-size 26px
    text-align center
    margin 45px 0 40px

  // 输入框
  .input-text-wrap
    position relative

    .input-text
      font-size 16px
      height 44px
      line-height 42px
      padding 0 15px
      border-radius 4px

    .placeholder
      absolute left 16px top 0
      height 44px
      line-height 44px
      color #A9A9A9

  .x-select
    .x-select-trigger
      height 44px
      line-height 44px
      padding 0 25px 0 15px
      border-radius 4px

      span
        height 42px

      .caret
        absolute right 20px top 20px
        triangle #E1E1E1 14px down

  .form
    max-width none
    box-sizing border-box
    padding 0 110px
    // font-size 16px

    .form-row
      margin-bottom 30px

    .row-check
      font-size 14px
      color #969595

      a
        line-height 30px
        color red

    .form-actions
      text-align center

      .btn
        width 260px
        text-align center
        margin 0

    .form-operations
      margin-top 25px
      text-align center

      a
        text-decoration underline
        color #A5A4A4

.auth-msg-box
  width 600px
  margin 0 auto
  padding-left 80px
  background #FFF
  border-radius 10px
  box-shadow 0 3px 6px rgba(0, 0, 0, .15)

  .x-alert
    margin 120px 0

// 浮层里的表单
.modal
  .form
    .form-row
      margin-bottom 12px

      // .controls
      //   width 330px

    .form-actions
      padding-left 0
      text-align right

      .btn
        margin 0 0 0 10px

// 邮件模板表单
.template-form
  .form-row
    max-height none

    .form-hints-inline
      float left
      width 20%
      margin-left 20px

      p
        font-size 12px
        color #999
        margin 0

  .input-text-wrap
    textarea.input-text
      height 240px

@media only screen and (max-device-width:415px)
  .form-auth
    padding 80px 0 0

    .form-cont
      padding 40px 0
