// 标签

.text-label
  background #F0F0F0
  display inline-block
  height 20px
  line-height 20px
  padding 0 5px
  color gray-light

.text-label-danger
  background lighten(red, 30%)
  color #FFF

.text-label-info
  background lighten(blue, 30%)
  color #FFF
