// 标签

.text-label
  background #99CCCC
  display inline-block
  height 20px
  line-height 20px
  padding 0 5px
  color #FFF
  text-align center

.text-label-danger
  height 20px
  line-height 20px
  background #CB4A52
  color #FFF
  padding 0 5px
  display inline-block
  text-align center

.text-label-warning
  height 20px
  line-height 20px
  background #FF9966
  color #FFF
  padding 0 5px
  display inline-block
  text-align center
