// loading
.with-loading
  position relative

  .icon-loading
    size 32px
    absolute left 50% top 50%
    margin -16px 0 0 -16px
    text-align center
    background rgba(0, 0, 0, .5)
    border-radius 6px
    z-index 1000

    .fa-refresh
      line-height 32px
      font-size 20px
      color #FFF
