.panel
  border-bottom 1px solid default-border-color
  background #FFF
  padding 0 15px 15px
  box-sizing border-box
  // margin 0 5px 10px

  &.no-split-line
    border-bottom none

.panel-hd
  border-bottom 1px solid light-border-color
  margin-bottom 10px
  position relative
  clearfix()

  h2
    margin 0
    font-size 15px
    font-weight normal
    height 36px
    line-height 36px
    padding-top 12px

    .fa
      margin-right 5px

  .leftbox
    position absolute
    top 4px
    left 100px

    .v-select
      float right
      margin 12px 0 0 20px

  .btn-group
    float right
    margin-top 12px

  .date
    float right
    margin-top 20px

  .status
    float right
    margin-top 20px
    font-size 12px

  .search-box
    float right
    margin-top 10px

    .v-select
      float none
      margin 0

  .actions
    float right
    margin-top 15px
    font-size 0

    .btn
      height 26px
      line-height 26px
      font-size 12px

    .btn-ghost
      line-height 24px

  &.with-actions
    h2
      float left

.panel-hd-full
  margin-left -15px
  margin-right -15px

  h2
    padding-left 15px

.panel-sub-hd
  font-size 14px
  padding 6px 10px

  &.bordered
    border-bottom 1px solid light-border-color

.panel-bd
  position relative
  box-sizing border-box

  .status-bar
    .area-select
      display inline-block

  .controls
    .area-select
      display inline-block
      .v-select
        display inline-block

  .action-bar
    clearfix()
    // background #F5F5F5
    // border 1px solid #E5E5E5
    margin 15px 0
    // padding 5px 10px
    // margin-bottom 20px

    .v-select
      display inline-block
      vertical-align middle

    .search-box
      float right

  .action-group
    clearfix()

    .btn
      float left
      margin-right 10px

  .form
    padding 30px 0

  .modal
    .form
      padding 0
