.panel
  border 1px solid #e0e0e0
  background #FFF
  padding 0 22px
  box-sizing border-box
  margin 0 10px 20px

.panel-hd
  border-bottom 1px solid #e4e4e4
  position relative
  clearfix()

  h2
    margin 0
    font-size 18px
    font-weight normal
    height 36px
    line-height 36px
    padding-top 12px

    .fa
      margin-right 5px

  .leftbox
    position absolute
    top 6px
    left 80px

    .v-select
      float right
      margin 12px 0 0 20px

  .btn-group
    float right
    margin-top 12px

  .date
    float right
    margin-top 20px

  .status
    float right
    margin-top 20px
    font-size 12px

  .search-box
    float right
    margin-top 10px

    .v-select
      float none
      margin 0

  .actions
    float right
    margin-top 12px
    font-size 0

    .btn
      height 26px
      line-height 26px
      font-size 12px

    .btn-ghost
      line-height 24px

  &.with-actions
    h2
      float left

.panel-sub-hd
  background #F7F7F7
  font-size 16px
  padding 6px 10px

.panel-bd
  position relative
  box-sizing border-box

  .status-bar
    .area-select
      display inline-block

  .controls
    .area-select
      display inline-block
      .v-select
        display inline-block

  .action-bar
    clearfix()
    padding-top 20px
    margin-bottom 20px

    .v-select
      display inline-block

    .search-box
      float right

  .action-group
    clearfix()

    .btn
      float left
      margin-right 10px

  .form
    padding 30px 0
