// 搜索框
.search-box
  display inline-block
  position relative
  background #F1F3F7
  size 100px 30px
  padding 0 36px 0 10px

  .search-box-input
    background transparent
    border none
    appearance none
    size 100% 30px
    line-height 30px
    padding 0
    font-size 12px

  button
    absolute right top
    background transparent
    border none
    appearance none
    size 30px
    color #B0B0B1
    transition color .3s

    &:hover
      color red

