// 统计信息
.statistics-info
  clearfix()
  margin-top 40px

  .item
    float left
    width 50%
    border-right 1px solid #DEDEDE
    box-sizing border-box
    text-align right

    .cont
      padding 20px 30px 20px 0
      border-bottom 1px solid #DEDEDE

    .num
      font-size 30px
      color red

    .label
      color gray-light

      .tips
        display inline-block
        margin-left 4px
        position relative

    &:nth-child(2n)
      border-right none

  .no-border
    .cont
      border-bottom none
