.status-bar
  border 1px solid light-border-color
  background #F9F9F9
  padding 5px 20px
  margin-bottom 10px
  clearfix()

  .v-select
    display inline-block
    margin-right 20px

  .area-select
    display inline-block

  .status
    float right
    font-size 12px
    line-height 25px

    span
      font-weight bold
      color red
