// 统计信息
.statistics-info
  clearfix()
  margin-top 40px

  .item
    float left
    width 50%
    border-right 1px solid #DEDEDE
    box-sizing border-box
    text-align right

    .cont
      padding 20px 30px 20px 0
      border-bottom 1px solid #DEDEDE

    .num
      font-size 30px
      color red

    .label
      color gray-light

      .tooltip
        absolute left 50% top -26px
        margin-left -43px
        border 1px solid #DDD
        white-space nowrap
        background #FFF
        padding 0 5px
        font-size 12px

        &:before
          absolute left 50% top 18px
          margin-left -5px
          content ""
          triangle #D3D3D3 10px down

        &:after
          absolute left 50% top 17px
          margin-left -5px
          content ""
          triangle #FFF 10px down

      .tips
        display inline-block
        margin-left 4px
        position relative

    &:nth-child(2n)
      border-right none

  .no-border
    .cont
      border-bottom none