// 表格
table
  border-spacing 0
  border-collapse collapse

.table
  width 100%
  max-width 100%

  th
  td
    background #FFF

  th
    padding 10px
    text-align left
    cursor default
    white-space nowrap
    background #FFF
    border-bottom 2px solid #BBB
    font-size 12px

    .fa
      margin-left 10px

    &.sortable
      cursor pointer

    &.active
      color red

  td
    padding 6px 10px
    font-size 12px
    border-bottom 1px solid light-border-color

    .text-label
      margin-right 6px

  tr:last-child
    td
      border-bottom-color default-border-color

  tr.disabled
    td
      color gray-light

.table-stripe
  tbody
    tr:nth-child(2n+1)
      td
        background #F9F9F9

.table-bordered
  border 1px solid default-border-color

  th
  td
    border-right 1px solid default-border-color

  th
    background #EEE
    border-bottom 1px solid light-border-color

// 数据表格
.data-table
  .filter-bar
    background #F6F6F6
    border 1px solid default-border-color
    border-width 1px 1px 0

    h3
      margin 0
      font-size 12px
      line-height 28px
      font-weight normal

// 数据表格垂直居中
.data-table-wrap
  display table
  min-height 350px

  .data-table
    display table-cell
    vertical-align middle
