// 表格
table
  border-spacing 0
  border-collapse collapse
  margin 20px 0

.table
  width 100%
  max-width 100%

  th
  td
    border 1px solid #E4E4E4
    background #FFF

  th
    padding 7px 20px
    text-align left
    cursor default

    .fa
      margin-left 10px

    &.sortable
      cursor pointer

    &.active
      color red

  td
    padding 6px 20px
    font-size 12px

    .tips-null
      padding 50px 0

.table-stripe
  tbody
    tr:nth-child(2n+1)
      td
        background #F9F9F9

.table-bordered
  border 1px solid #E4E4E4
