// 表格
table
  border-spacing 0
  border-collapse collapse

.table
  width 100%
  max-width 100%
  margin-bottom 15px

  th
  td
    border-right 1px solid #CCC
    background #FFF

  th
    padding 10px
    text-align left
    cursor default
    white-space nowrap
    background #E9E9E9
    border-bottom 1px solid #CCC
    font-size 12px

    .fa
      margin-left 10px

    &.sortable
      cursor pointer

    &.active
      color red

  td
    padding 6px 10px
    font-size 12px
    border-bottom 1px solid #E5E5E5

    .text-label
      margin-right 6px

.table-stripe
  tbody
    tr:nth-child(2n+1)
      td
        background #F9F9F9

.table-bordered
  border 1px solid #CCC

// 数据表格
.data-table
  .filter-bar
    clearfix()
    background #F5F5F5
    border 1px solid #E5E5E5
    border-width 1px 1px 0
    margin-top 15px
    padding 5px 10px
    // margin-bottom 20px

    .v-select
      display inline-block
      vertical-align middle
