.tool-bar
  background #F6F6F6
  border-top 1px solid light-border-color
  border-bottom 1px solid light-border-color
  min-width 600px
  min-height 32px
  padding 5px 15px 5px 5px
  box-sizing border-box
  clearfix()

.x-breadcrumb + .tool-bar
  margin-top -1px

.tool-list
  .tool-list-item
    float left
    position relative

    .trigger
      display inline-block
      padding 5px 10px 4px
      cursor pointer
      border-radius 4px
      color gray

      .trigger-text
        font-size 12px

      .fa + .trigger-text
      .trigger-text + .fa
        margin-left 4px

      &:hover
      &.active
        text-decoration none
        background-image linear-gradient(top, #fafafa, #e9e9e9)
        box-shadow inset 0 1px 5px rgba(0, 0, 0, .2)

    button.trigger
      appearance none
      border none
      background transparent
      outline none

      &.disabled
        color #CCC
        cursor not-allowed

    .dropdown
      absolute left top 28px
      min-width 120px
      padding 5px
      background #FFF
      border 1px solid #C3C3C3
      box-shadow 0 1px 2px rgba(0, 0, 0, .2)
      z-index 10000

      .action-list
        li
          line-height 24px
          font-size 12px

          a
            display block
            padding 0 5px

            &:hover
              text-decoration none
              background #E9F1F5
              color gray-dark
