@import '../../assets/stylus/common'

.account-info
  padding 30px 40px
  position relative

  h2
    height 30px
    font-weight normal
    font-size 20px
    margin 0 0 20px
    padding-left 8px

  .actions
    absolute right top

    .btn
      .fa
        margin-right 5px
