// 配置
@import 'settings'

// 工具
@import 'utilities'

// 重置
@import 'reset'

// 定制
@import 'customize'

// 占位符
@import 'placeholders'

// 助手类
@import 'helpers'

// 布局基础
@import 'partials/grid'
@import 'partials/panel'

// 过渡效果
@import 'transitions'

// 组件
// ------------------------------
// 按钮
@import 'partials/button'

// 表格
@import 'partials/table'

// 表单
@import 'partials/form'

// 面包屑导航
@import 'partials/breadcrumb'

// 提示
@import 'partials/alert'

// 标签
@import 'partials/label'

// ------------------------------

// 其他
// ------------------------------

// 用户信息
@import 'partials/user-details'

// 统计信息
@import 'partials/statistics-info'

// 状态栏
@import 'partials/status-bar'

// 消除数据初始化闪烁
[v-cloak]
  display none

// 空数据提示
.tips-null
  padding 50px 0
