// ==================================================
// 助手类
// ==================================================

// 隐藏/显示元素
.hidden
  display none !important
.show
  display block !important

// 不可见
.invisible
  visibility hidden

// 浮动
.fl
  float left

.fr
  float right

// 清除浮动
.clearfix
  clearfix()

// 文本隐藏
.hide-text
  hide-text()

// 高亮
.hl-red
  color red !important
.hl-green
  color green !important
.hl-gray
  color gray-light !important

// 对齐
.tal
  text-align left !important

.tac
  text-align center !important

.tar
  text-align right !important



