// 视图淡入淡出
.view
  transition transform .5s ease, opacity .5s ease

.view-enter
.view-leave
  opacity 0
  transform translate3d(10px, 0, 0)

// 浮层动画
.modal-enter
.modal-leave
  opacity 0

.modal-enter .modal-dialog
.modal-leave .modal-dialog
  transform scale(1.1)
