// 视图淡入淡出
.view
  transition transform .5s ease, opacity .5s ease

.view-enter
.view-leave
  opacity 0
  transform translate3d(10px, 0, 0)

// 渐近过渡
.staggered-transition
  transition opacity .3s ease, height .3s ease, transform .3s ease-in-out
  margin 0

.staggered-enter
.staggered-leave
  opacity 0
  height 0
  transform translate3d(0, 0, 0)

// 浮层动画
.modal-enter
.modal-leave
  opacity 0

.modal-enter .modal-dialog
.modal-leave .modal-dialog
  transform scale(1.1)
